[Unit]
Description=Sentinelle V4 - Service d'exécution des collecteurs de métriques
After=network.target mariadb.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c 'for script in /opt/sentinelle/bash/collect/*.sh; do [ -x "$script" ] && "$script"; done'

[Install]
WantedBy=multi-user.target
