[Unit]
Description=Sentinelle V4 - Service de Collecte et Supervision
After=network.target mariadb.service
Wants=mariadb.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/bash /var/www/html/sentinelle/bash/collector.sh

[Install]
WantedBy=multi-user.target
