.git
.gitignore
.github

.env
.env.*
!.env.example

node_modules
target
dist

*.log
*.tmp
*.bak

monitoring/01_sentinelle_multiscripts_original
monitoring/02_sentinelle_version_simple_original
monitoring/03_sentinelle_unifiee_multijails_corrigee

page_de_connexion
images
