###############################################################################
# SENTINELLE V4 - DEPLOIEMENT DOCKER
###############################################################################

###############################################################################
# BASE DE DONNEES
#
# local    : MariaDB est déployée dans Docker
# external : MySQL/MariaDB existe déjà sur un autre serveur
###############################################################################

DB_MODE=local

###############################################################################
# CONNEXION BDD
###############################################################################

DB_HOST=sentinelle-db
DB_PORT=3306
DB_NAME=sentinelle
DB_USER=sentinelle
DB_PASSWORD=CHANGE_ME

###############################################################################
# BDD EXTERNE
#
# Utilisées uniquement avec DB_MODE=external
###############################################################################

EXTERNAL_DB_HOST=
EXTERNAL_DB_PORT=3306
EXTERNAL_DB_NAME=sentinelle
EXTERNAL_DB_USER=sentinelle
EXTERNAL_DB_PASSWORD=

###############################################################################
# MARIADB LOCAL
#
# Utilisé uniquement avec DB_MODE=local
###############################################################################

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD

###############################################################################
# APPLICATION
###############################################################################

WEB_PORT=8080

###############################################################################
# COLLECTEUR
###############################################################################

HOST_ID=1
COLLECT_INTERVAL=2

###############################################################################
# NOM DU PROJET DOCKER
###############################################################################

COMPOSE_PROJECT_NAME=sentinelle
