###############################################################################
# SENTINELLE V4 - CONFIGURATION DOCKER
###############################################################################

###############################################################################
# MODE DE BASE DE DONNÉES
#
# local    = MariaDB déployée par Docker
# external = MySQL/MariaDB déjà présente sur un serveur externe
###############################################################################

DB_MODE=local

###############################################################################
# BASE DE DONNÉES
###############################################################################

DB_HOST=sentinelle-db
DB_PORT=3306
DB_NAME=sentinelle
DB_USER=sentinelle
DB_PASSWORD=CHANGE_ME_DB_PASSWORD

###############################################################################
# BASE DE DONNÉES EXTERNE
#
# Utilisé uniquement si DB_MODE=external
###############################################################################

EXTERNAL_DB_HOST=
EXTERNAL_DB_PORT=3306
EXTERNAL_DB_NAME=sentinelle
EXTERNAL_DB_USER=sentinelle
EXTERNAL_DB_PASSWORD=

###############################################################################
# JWT
###############################################################################

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRATION=28800

###############################################################################
# APPLICATION
###############################################################################

APP_PORT=8080
WEB_PORT=8080

###############################################################################
# COLLECTEUR
###############################################################################

HOST_ID=1
COLLECT_INTERVAL=2

###############################################################################
# MARIADB LOCAL
#
# Ces variables sont utilisées uniquement lorsque DB_MODE=local
###############################################################################

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD

###############################################################################
# NOM DU PROJET COMPOSE
###############################################################################

COMPOSE_PROJECT_NAME=sentinelle
