[Unit]
Description=Sentinelle V4 - Timer de collecte périodique (toutes les 10 secondes)

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target
